.navbar {
  width: 100%;
  height: 60px;
  background: #1193c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  color: white;
}

.navbar-left .navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-center {
  display: flex;
  gap: 30px;
}

.navbar-center a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.navbar-center a:hover {
  text-decoration: underline;
}

.navbar-right .logout-btn {
  background: #ff5f5f;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-right .logout-btn:hover {
  background: #e63333;
}
