.form-page {
  padding: 2rem;
}

.form-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.form-container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.form-container input,
.form-container select {
  padding: 10px;
  border: 2px solid #1193C2;
  border-radius: 6px;
  font-size: 16px;
}

.big-textarea {
  padding: 10px;
  border: 2px solid #1193C2;
  border-radius: 6px;
  min-height: 120px;
  font-size: 16px;
  resize: vertical;
}

.checkbox-zone {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.save-btn {
  background: #1193C2;
  color: white;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: #0d7da4;
}
